<div class="infoContainer">
  <form action="/api/users/change-info" method="POST" onSubmit="confirm('Are you sure you want to change your information?')">
    <label class="infoLabel" for="userName">Username:</label>
    <input class="infoInput" type="text" name="userName" placeholder="Enter your name...">
    <label class="infoLabel"for="oldPass">Old Password:</label>
    <input class="infoInput" type="text" name="oldPass" placeholder="Enter your old password...">
    <label class="infoLabel" for="newPass">New Password:</label>
    <input class="infoInput" type="text" name="newPass" placeholder="Enter a new password...">
    <label class="infoLabel" for="newPassAgain">Confirm New Password:</label>
    <input class="infoInput" type="text" name="newPassConfirm" placeholder="Confirm your new password..."><br>
    <input class="infoSubmit" type="submit" name="changePassSubmit" value="Change Info">
  </form>
  <form action="/api/users/delete" method="POST" onsubmit="confirm('Are you sure you want to delete your account?')">
    <input class="deleteAccount" type="submit" name="deleteAccount" value="Delete Account">
  </form>
</div>