<section id="comments" class="comment-container">
    <form id="method="POST" action="/comment">
        <input type="text" id="newComment" name="newComment" placeholder="Type your comment..."/>
    </form>
    <div class="postArea">
            <div class="comment">
                    <header>
                        <h4 class="username">
                        TheMan1901
                        </h4>
                    </header>
                    <p>
                    This is a cool article, I love the language used.
                    </p>
                    <footer>
                        <span class="timestamp">
                        19 seconds ago
                        </span>
                    </footer>
                </div>
                <div class="comment">
                        <header>
                                <h4 class="username">
                                TheWorstMan1902
                                </h4>
                            </header>
                        <p>
                        This is a dumb article, I hate the language used.
                        </p>
                        <footer>
                            <span class="timestamp">
                            20 seconds ago
                            </span>
                        </footer>
                    </div>
                    <div class="comment">
                            <header>
                                    <h4 class="username">
                                    TheRealHero
                                    </h4>
                                </header>
                            <p>
                            You think this is a good resource? I know way more than whoever wrote this article.
                            Bad show.
                            </p>
                            <footer>
                                <span class="timestamp">
                                21 seconds ago
                                </span>
                            </footer>
                        </div>
    </div>
</section>