<section class="comment-container">
    <div class="comment">
        <h6 class="username">
            TheMan1901
        </h6>
        <p>
            This is a cool article, I love the language used.
        </p>
        <footer>
            <span class="timestamp">
                Posted 19 seconds ago
            </span>
        </footer>
    </div>
</section>