<nav class="nav">
  <h2>Catalogger</h2>
  <div class="input-bar">
    <input type="hidden" id="user" name="user" value="<%= JSON.stringify(user) %>">
    <form id="search-form" action="/search" method="GET">
      <input class="search-field" type="text" name="query" placeholder="Search for articles...">
    </form>
    <input form="search-form" class="search-button" type="submit" value="Search">

    <div class="dropdown">
      <button class="drop-button">Account</button>
      <div class="dropdown-content">
        <a href="/account?page=info">Info</a>
        <a href="/account?page=categories">Categories</a>
      </div>
    </div>
    
    <form id="logout-form" action="/api/users/logout" method="POST">
      <input class="logout-button" type="submit" value="Logout">
    </form>
  </div>
</nav>
