<nav class="nav">
  <h2>Fil'r</h2>
  <div class="input-bar">
    <form id="search-form" action="/search" method="GET">
      <input class="search-field" type="text" name="searchQuery" placeholder="Search for articles...">
      <input type="hidden" id="user" name="user" value="<%= id %>">
      <input class="search-button" type="submit" value="Search">
    </form>
    <form id="logout-form" action="/api/users/logout" method="POST">
      <input class="logout-button" type="submit" value="Logout">
    </form>
  </div>
</nav>
