<div class='nav'>
    <h2>Fil'r</h2>
    <div class="buttons">
        <form action="/search" method="POST">
            <textarea class="search-field" name="searchField" placeholder="Search resources..."></textarea>
            <input class="search-button" name="searchButton" type="submit" value="Search">
        </form>
        <button class="logout-button" action="/logout" method="POST">Logout</button>
    </div>
</div>