<form class="submitNewResource" method="POST" action="/api/resources/">
    <label class="submit-resource-label" for="resourceURL">Source Link</label>
    <input type="text" class="new-resource-input" name="resourceURL" placeholder="Enter your article's URL"/>
    <label class="submit-resource-label" for="title">Title</label>
    <input type="text" class="new-resource-input" name="resourceTitle" placeholder="Enter your article's title"/>
    <label class="submit-resource-label" for="category">Image URL</label>
    <input type="text" class="new-resource-input" name="resourceImage" placeholder="Enter an image URL for your article"/>
    <label class="submit-resource-label" for="confirm">Description</label>
    <input type="text" class="new-resource-input" name="resourceDescription" placeholder="Add a short description for your article"/>
    <div class="new-resource-submit">
        <button class="submit-button" type="submit">Submit</button>
    </div>
</form>
