<!-- HANDLES THE BOX TO ENTER NEW RESOURCES -->
<!-- <form id="submitNew" method="POST" action="/submit"> -->
<form class="submitNew" method="POST" action="/api/resources/">
    <div class="form-group">
        <label for="resourceURL">Source Link</label>
        <div class="input-group">
            <input type="text" class="form-control" name="resourceURL" placeholder="Enter your article's URL"/>
        </div>
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        <div class="input-group">
            <input type="text" class="form-control" name="title" placeholder="Enter your article's title"/>
        </div>
    </div>

    <div class="form-group">
        <label for="category">Image URL</label>
        <div class="input-group">
            <input type="text" class="form-control" name="imageURL" placeholder="Enter an image URL for your article"/>
        </div>
    </div>
    <div class="form-group">
        <label for="confirm">Description</label>
        <div class="input-group">
            <input type="text" class="form-control" name="description" placeholder="Add a short description for your article"/>
        </div>
    </div>
    <button type="submit">SUBMIT</button>
</form>
