<aside class='sidebar'>
    <section class="categories">
        <div class="buttons">
            <button>1</button>
                <strong>Category 1</strong>
                <textarea class="category-field" name="categoryField" placeholder="Rename..."></textarea>
            <button>2</button>
                <strong>Category 2</strong>
                <textarea class="category-field" name="categoryField" placeholder="Rename..."></textarea>
            <button>3</button>
                <strong>Category 3</strong>
                <textarea class="category-field" name="categoryField" placeholder="Rename..."></textarea>
            <button>4</button>
                <strong>Category 4</strong>
                <textarea class="category-field" name="categoryField" placeholder="Rename..."></textarea>
            <button>5</button>
                <strong>Category 5</strong>
                <textarea class="category-field" name="categoryField" placeholder="Rename..."></textarea>
        </div>
    </section>
</aside>