<aside class='sidebar'>
    <section>
        <div class="buttons">
            <button>1</button>
                <strong>Category 1</strong>
            <button>2</button>
                <strong>Category 2</strong>
            <button>3</button>
                <strong>Category 3</strong>
            <button>4</button>
                <strong>Category 4</strong>
            <button>5</button>
                <strong>Category 5</strong>
        </div>
    </section>
</aside>