<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<aside class="list-group">
    <form action="/" method="GET"> 
        <button class="list-group-item">
            <i class="fa fa-home" style="font-size: 1.4em"></i>
            <span>Home</span>
        </button>
    </form>
    <form action='/resources' method="GET"> 
        <button class="list-group-item">
            <i class="fas fa-bookmark" style="font-size: 1em"></i>
            <span>Resources</span>
        </button>
    </form>
    <% for (let eachCategory in categories){ %>
    <form action='/categories' method="GET">
        <button type="submit" class="list-group-item" name="name" value="<%= categories[eachCategory].label %>">
            <i class="fa fa-archive"></i>
            <span><%= categories[eachCategory].label %></span>
        </button>
    </form>
    <% } %>
    <form action='/liked-resources' method="GET"> 
        <button class="list-group-item">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <span>Liked</span>
        </button>
    </form>
</aside>