<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<aside class="list-group">
    <form name="home-button" action="/" method="GET"> 
        <button id="home" class="list-group-item active"><i class="fa fa-archive"></i> <span>Home</span></button>
    </form>
    <form name="cat1-button" action="/category/1" method="GET"> 
        <button id="cat1" class="list-group-item"><i class="fa fa-archive"></i> <span>Category 1</span></button>
    </form>
    <form name="cat2-button" action="/category/2" method="GET"> 
        <button id="cat2" class="list-group-item"><i class="fa fa-archive"></i> <span>Category 2</span></button>
    </form>
    <form name="cat3-button" action="/category/3" method="GET"> 
        <button id="cat3" class="list-group-item"><i class="fa fa-archive"></i> <span>Category 3</span></button>
    </form>
    <form name="cat4-button" action="/category/4" method="GET"> 
        <button id="cat4" class="list-group-item"><i class="fa fa-archive"></i> <span>Category 4</span></button>
    </form>
    <form name="cat5-button" action="/category/5" method="GET"> 
        <button id="cat5" class="list-group-item"><i class="fa fa-archive"></i> <span>Category 5</span></button>
    </form>
    <form name="saved-button" action="/resources" method="GET"> 
        <button id="saved" class="list-group-item"><i class="fa fa-bookmark-o"></i> <span>Saved</span></button>
    </form>
    <!-- <form name="liked-button" action="/liked" method="GET">  -->
        <button id="liked" class="list-group-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>Liked</span></button>
    <!-- </form> -->
</aside>