<!doctype html>

<html>
    <head>
        <% include _header %>
    </head>
    <body>
        <main class="container">
            <section>

            </section>
            <section>

            </section>
        </main>

        <div class="side-bar">

        </div>
    </body>
</html>