<! doctype html>

<html lang="en">
    <head>
        <header class="nav-bar">

        </header>
    </head>
    <body>
        <main class="container">
            <form class="profile">
            <label>New Username:</label><input type="username" name="new_username" placeholder="Enter new username...">
            <label>Old Password:</label><input type="password" name="old_password" placeholder="Enter old password...">
            <label>New Password:</label><input type="password" name="new_password" placeholder="Enter new password...">
            </form>
        </main>
    </body>
</html>