<!doctype html>

<html lang="en">
    <head>
       <!-- Bootstrap: top nav bar -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Bootstrap: side nav bar -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>
      <script type="text/javascript" src="/routes/users.js"></script>
    </head>

    <body>
        <% include _header %>
        <% include _sidebar %>
        <main class="container">
          <form class="needs-validation" novalidate>
            <div class="form-block">
              <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">New Username:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username..." aria-describedby="inputGroupPrepend" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Invalid Entry! Please enter your new username correctly.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Old Password:</label>
                <input type="password" class="form-control" id="validationCustom02" placeholder="Old Password..." required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Invalid Entry! Please enter your password correctly.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">New Password:</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="New Password..." required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Invalid Entry! Please enter your new password correctly.
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
                      
        <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
      </main>
    </body>
</html>