<!doctype html>

<html lang="en">
    <head>
        <% include _loginHeader %>
    </head>

    <body>
        <h2>Register Now!</h2>
        <form method="POST" action="/register">
            <h4>
                Create an account here, and introduce yourself to your own customizable resource-filing system,<br>
                gain access to our database, and feel that the information you desire is just at your fingertips.<br>
            </h4>
            <label><b>Username:</b></label><input type="username" name="username" placeholder="Enter username..."><br>
            <label><b>Password:</b></label><input type="password" name="password" placeholder="Enter password...">
            <button>
                Confirm
            </button>
        </form>
    </body>

</html>
