<!doctype html>

<html lang="en">
<head>
  <title>Search Results</title>
</head>

<body>
    <main class="container">
        <section>
            <h2>
            Found x Results:
            </h2>
        </section>
    </main>
</body>
</html>