// renders to server.js and passes it on to layout.css

$nav-font-stack: American Typewriter, sans;
$nav-background: hsl(0, 10%, 39%);

.nav {
    display: flex;
    background-color: $nav-background;
    width: 100%;
    height: 3.5em;
    font: 100% $nav-font-stack;
    
    h2 {
        position: absolute;
        top: 10px;
        display: flex;
        align-items: center;
        color: black;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: white;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1em;
    }
    .input-bar {
        font: 100% Times;
        display: flex;
        border: none;
        margin-left: auto;
        margin-right: 52px;
        
        form#search-form, form#logout-form {
            display: flex;
            align-self: center;
            height: 2em;
            .search-field {
                width: 30em;
                padding-left: 8px;
            }
        }

        .search-button, div.dropdown, .logout-button {
            display: flex;
            align-self: center;
            background-color: $nav-background;
            color: white;
            opacity: 0.6;
            border-color: transparent;
            border-radius: 5px;
            margin-left: 3px;
        }
        button.drop-button {
            background-color: $nav-background;
            border: none;
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            top: 20px;
            color: white;
            background-color: $nav-background;
        }

        .dropdown-content a {
            color: white;
            opacity: 0.6;
            padding: 5px 7px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: $nav-background;
            opacity: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .drop-button {
            background-color: $nav-background;
            opacity: 1;
        }

        .search-button:hover, .dropdown:hover, .logout-button:hover {
            opacity: 1;
        }
    }
}