// renders to server.js and passes it on to layout.css

$nav-font-stack: American Typewriter, sans;

.navbar {
    width: 100%;
    display: inline-block;
    height: 42px;
    margin-bottom: 5px;
    padding-left: 2em;
    font: 100% $nav-font-stack;
}
.navbar-brand {
    font-weight: bold;
    margin-right: 40px;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.btn {
    color: white;

}