@import 'header';
@import 'sidebar';
@import 'loginHeader';

body {
  background-color: white;

  main.container {
    display: inline-block;
    height: 600px;
    margin: 10px auto;
    background-color: white;
    padding-left: 20px;
    width: 80%;

    h1.display-4 {
      border-radius: 0px!important;
    }

    #newResource {
      width: 450px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-color: rgb(236, 236, 236);
      padding: 10px;
      border: 2px solid black;
    }

    form.needs-validation {
      padding-top: 100px;
      padding-left: 100px;

      button.btn.btn-primary {
        margin-left: 95px;
        margin: 0 5px;
        color: white;
      }
    }
    .registration {
      display: inline-block;
      position: relative;
      border: 1px black solid;
      border-radius: 10px;
      width: 90%;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      margin: auto;
      margin-top: 100px;
      background-color: rgb(236, 236, 236);
    }

    .category {
      display: inline-block;
      position: relative;
      font-size: 16px;
      margin: 0px auto;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      background-color: rgb(236, 236, 236);

      .resource {
        opacity: 0.3;
        display: block;
        position: relative;
        border: 1px black solid;
        border-radius: 10px;
        width: 100%;
        margin-top: 10px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
        padding-right: 5px;
        background-color: lightblue;
        .p {
          margin: 0px auto;
          display: inline-block;
        }
        .card-img-top {
          float: left;
          margin-right: 10px;
          max-width: 130px;
          max-height: 137px;
          width: auto;
          height: auto;
        }

        section.comment-container {
          background-color: #f4ebed;
          padding: 10px 20px;
          margin-top: 45px;
          border: 2px solid black;
          border-radius: 5px;

          form#submitComment {
            margin: 5px auto;
            margin-bottom: 12px;
            height: 150px;
            #commentPost {
              float: right;
              width: 100px;
              background-color: lightgreen;
              opacity: .6;
              border: .5px solid black;
              border-radius: 5px;
              padding: 11px;
              padding-left: 13px;
              color: black;
              display: block;
            }
            #commentPost:hover {
              opacity: 1;
            }
            textarea {
              width: 85%;
              height: 100%;
              padding: 15px;
              word-break: break-word;
            }
          }

          div.comment {
            background: white;
            margin: 5px auto;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            padding-right: 3px;
            opacity: .6;

            header {
              padding: 5px;
              margin-bottom: 3px;
              background-color: lightblue;
              border-radius: 5px;
              width: 70%;

              h4.username {
                margin: auto;
                margin-left: 30px;
              }
            }

            footer {
              background-color: lightblue;
              width: 25%;
              margin-left: 7%;
              .timestamp {
                font-size: small;
                margin-left: 70px;
              }
            }
          }

          div.comment:hover {
            opacity: 1;
          }
        }
      }
      .resource:hover {
        opacity: 1;
      }
    }
  }
}
