@import 'header';
@import 'sidebar';
@import 'loginHeader';

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  main.container {
    display: inline-block;
    z-index: 0;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    padding-left: 100px;
    margin-top: -4px;
  }
}
