@import 'header';
@import 'sidebar';
@import 'loginHeader';

body {
  background-color: #EEE;

  main.container {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    z-index: 0;
    padding-left: 100px;
    margin-top: -4px;
    .registration {
      display: inline-block;
      position: relative;
      border: 1px black solid;
      border-radius: 10px;
      width: 90% inherit;
      height: 90% inherit;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      margin-top: 20px;
      background-color: rgb(236, 236, 236);
    }
  }
}
